<!-- New Recipe -->
<app-modal
    title="New recipe"
    [showModal]="openEditModal"
    (close)="this.openEditModal = false"
    [styles]="editUserStyle"
    acceptButton="Submit"
    (accept)="newRecipe()"
>
    <ng-container>
        <form [formGroup]="form" autocomplete="off" (ngSubmit)="newRecipe()">
            <div class="row">
                <div class="col-12">
                    <img class="recipePic d-block m-auto" [src]="recipeImage">
                    <app-upload-file
                    (file)="onImage($event)"
                    ></app-upload-file>
                </div>
                <hr class="line" />
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="input" appearance="standard">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" name="name" required type="text">
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                    <mat-form-field class="input" appearance="standard">
                        <mat-label>Cooking time</mat-label>
                        <input matInput formControlName="cooking_time" name="cooking_time" required="false" type="text">
                    </mat-form-field>
                </div>
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
                    <mat-form-field class="input" appearance="standard">
						<mat-select placeholder="Cooking time type" formControlName="cooking_time_type">
						  <mat-option *ngFor="let food of food_time" [value]="food.value">
							{{ food.viewValue }}
						  </mat-option>
						</mat-select>
					  </mat-form-field>
                </div>
				<div class="col-12">
                    <mat-form-field class="input" appearance="standard">
						<mat-select placeholder="Difficulty" formControlName="difficulty_field">
						  <mat-option *ngFor="let dif of difficulty" [value]="dif.value">
							{{ dif.viewValue }}
						  </mat-option>
						</mat-select>
					  </mat-form-field>
                </div>
				<div class="col-12">
					<div class="description">
						<mat-label>Description</mat-label>
					</div>
					<angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="input" appearance="standard">
                        <mat-label>Preparation time</mat-label>
                        <input matInput formControlName="preparation_time" name="preparation_time" required="false" type="text">
                    </mat-form-field>
                </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="input" appearance="standard">
						<mat-select placeholder="Preparation time type" formControlName="preparation_time_type">
						  <mat-option *ngFor="let food of food_time" [value]="food.value">
							{{ food.viewValue }}
						  </mat-option>
						</mat-select>
					</mat-form-field>
                </div>
            </div>
        </form>
    </ng-container>
</app-modal>
<!-- End New Recipe-->

<!-- Update Recipe -->
<app-modal
    title="Update recipe"
    [showModal]="openUpdateModal"
    (close)="closeUpdateModal()"
    [styles]="editUserStyle"
    acceptButton="Submit"
	deleteButton="Delete meal"
    (accept)="updateRecipe()"
	(delete)="removeItem()"
>
    <ng-container>
        <form [formGroup]="form" autocomplete="off" (ngSubmit)="updateRecipe()">
            <div class="row">
                <div class="col-12">
                    <img class="recipePic d-block m-auto" [src]=" itemSelected.photo ? routeMealPic + itemSelected.photo : recipeImage">
                    <app-upload-file
                    (file)="onImage($event)"
                    ></app-upload-file>
                </div>
                <hr class="line" />
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="input" appearance="standard">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" name="name" required type="text">
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                    <mat-form-field class="input" appearance="standard">
                        <mat-label>Cooking time</mat-label>
                        <input matInput formControlName="cooking_time" name="cooking_time" required="false" type="text">
                    </mat-form-field>
                </div>
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
                    <mat-form-field class="input" appearance="standard">
						<mat-select placeholder="Cooking time type" formControlName="cooking_time_type">
						  <mat-option *ngFor="let food of food_time" [value]="food.value">
							{{ food.viewValue }}
						  </mat-option>
						</mat-select>
					  </mat-form-field>
                </div>
				<div class="col-12">
                    <mat-form-field class="input" appearance="standard">
						<mat-select placeholder="Difficulty" formControlName="difficulty_field">
						  <mat-option *ngFor="let dif of difficulty" [value]="dif.value">
							{{ dif.viewValue }}
						  </mat-option>
						</mat-select>
					  </mat-form-field>
                </div>
				<div class="col-12">
					<div class="description">
						<mat-label>Description</mat-label>
					</div>
					<angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="input" appearance="standard">
                        <mat-label>Preparation time</mat-label>
                        <input matInput formControlName="preparation_time" name="preparation_time" required="false" type="text">
                    </mat-form-field>
                </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field class="input" appearance="standard">
						<mat-select placeholder="Preparation time type" formControlName="preparation_time_type">
						  <mat-option *ngFor="let food of food_time" [value]="food.value">
							{{ food.viewValue }}
						  </mat-option>
						</mat-select>
					</mat-form-field>
                </div>
            </div>
        </form>
    </ng-container>
</app-modal>
<!-- End Update Recipe-->
<div class="app-container">
	<app-sidebar [recipes]="true"></app-sidebar>
	<div class="app-content">
	  <div class="app-content-header">
		<h1 class="app-content-headerText">Recipes</h1>
	  </div>
	  <div class="app-content-actions">
		<input class="search-bar" placeholder="Search..." type="text">
		<button mat-raised-button class="button btn-success" (click)="openRecipes()">New</button>
	  </div>
	  <div class="products-area-wrapper tableView">
		<div class="products-header">
		  <div class="product-cell image">
			Meal
			<button class="sort-button">
			  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z"/></svg>
			</button>
		  </div>
		  <div class="product-cell category">Description<button class="sort-button">
			  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z"/></svg>
			</button></div>
		  <div class="product-cell status-cell">Difficulty<button class="sort-button">
			  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z"/></svg>
			</button></div>
		  <div class="product-cell sales">Preparation time<button class="sort-button">
			  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z"/></svg>
			</button></div>
		  <div class="product-cell stock">Meal people<button class="sort-button">
			  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z"/></svg>
			</button></div>
		</div>
		<div class="products-row" *ngFor="let item of recipes" (click)="activeItem(item)">
			<button class="cell-more-button">
				<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
			  </button>
				<div class="product-cell image">
				  <img [src]="item.photo ? routeMealPic + item.photo : defaultPic" alt="product">
				  <span>{{ item.name }}</span>
				</div>
			  <div class="product-cell category"><span class="cell-label">Description:</span>{{ item.description }}</div>
			  <div class="product-cell sales"><span class="cell-label">Difficulty:</span>{{ item.difficulty }}</div>
			  <div class="product-cell stock"><span class="cell-label">Preparation time:</span>{{ item.prep_time }}</div>
			  <div class="product-cell price"><span class="cell-label">Meal people:</span>{{ item.meal_people || '0' }}</div>
		</div>
	  </div>
	</div>
  </div>