    <!-- Search Wrapper -->
    <div class="search-wrapper">
        <!-- Close Btn -->
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="Type any keywords...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">

                    <!-- Top Social Info -->
                    <div class="col-12">
                        <div class="top-social-info text-right">
                            <a href="/login">Login</a>
                            <a href="/home/about">About us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- ##### Header Area End ##### -->
    
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/breadcumb1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>About us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### About Area Start ##### -->
    <section class="about-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Who we are and what we do?</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h6 class="sub-heading pb-5">Welcome to Recipe Sharer Restaurant, where culinary creativity meets community!

                        At Recipe Sharer Restaurant, we believe that great food is meant to be shared and enjoyed together. Our restaurant is a vibrant hub where food lovers gather to experience delicious flavors, warm hospitality, and memorable moments.
                        
                        Our culinary philosophy is simple: to create exceptional dishes inspired by the freshest ingredients and global flavors.</h6>

                    <p class="text-center">
                        From classic comfort foods to innovative creations, each dish on our menu is crafted with care and passion by our talented team of chefs.
                        
                        But Recipe Sharer Restaurant is more than just a place to dine – it's a place to connect, celebrate, and create lasting memories with family and friends. Whether you're joining us for a leisurely brunch, a cozy dinner, or a special celebration, you'll find a welcoming atmosphere and impeccable service that will make you feel right at home.
                        
                        At the heart of Recipe Sharer Restaurant is our commitment to community. We're proud to support local farmers, artisans, and producers, sourcing the finest ingredients to create dishes that showcase the best of what our region has to offer. We also believe in giving back to the community that has welcomed us with open arms, and we're dedicated to supporting local charities and organizations that make a positive impact on the lives of others.
                        
                        So come join us at Recipe Sharer Restaurant and experience the magic of great food, shared with great company. Whether you're a longtime fan or a first-time visitor, we can't wait to welcome you into our culinary family!
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <img class="mb-70" src="assets/img/bg-img/about.png" alt="">
                    <p class="text-center">So whether you're joining us for brunch with friends, a romantic dinner for two, or a special event with loved ones, we invite you to experience the magic of Recipe Sharer Restaurant. From our kitchen to your table, we look forward to sharing our love of food, hospitality, and community with you.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <app-footer></app-footer>
    <!-- ##### Footer Area Start ##### -->

        <!-- jQuery-2.2.4 js -->
        <script src="assets/js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="assets/js/bootstrap/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <!-- All Plugins js -->
        <script src="assets/js/plugins/plugins.js"></script>
        <!-- Active js -->
        <script src="assets/js/active.js"></script>