    <!-- Search Wrapper -->
    <div class="search-wrapper">
        <!-- Close Btn -->
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="Type any keywords...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">

                    <!-- Top Social Info -->
                    <div class="col-12">
                        <div class="top-social-info text-right">
                            <a href="/login">Login</a>
                            <a href="/home/about">About us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" [ngStyle]="setMainPic()">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="300ms">{{ lastRecipe?.title }}</h2>
                                <p data-animation="fadeInUp" data-delay="700ms" class="description">{{ lastRecipe?.description }}</p>
                                <a href="#" [routerLink]="['/home/recipe', lastRecipe?.id]" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Menu</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4" *ngFor="let item of recipes">
                    <div class="single-best-receipe-area mb-30">
                        <img [src]="item.photo ? defaultRoute + item.photo : 'assets/img/bg-img/r6.jpg'" alt="">
                        <div class="receipe-content">
                            <a href="#" [routerLink]="['/home/recipe', item?.id]">
                                <h5>{{ item.name }}</h5>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <app-footer></app-footer>

        <!-- jQuery-2.2.4 js -->
        <script src="assets/js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="assets/js/bootstrap/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>
        <!-- All Plugins js -->
        <script src="assets/js/plugins/plugins.js"></script>
        <!-- Active js -->
        <script src="assets/js/active.js"></script>